In [2]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [3]:
glob(r'C:\workspace\gas\지역*.xls') #r = raw 이스케이프 문자

['C:\\workspace\\gas\\지역_위치별(주유소) (22).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (23).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (24).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (25).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (26).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (27).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (28).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (29).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (30).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (31).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (32).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (33).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (34).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (35).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (36).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (37).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (38).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (39).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (40).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (41).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (42).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (43).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (44).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (45).xls',
 'C:\\workspace\\gas\\지역_위치별(주유소) (46).xls']

In [4]:
file = glob(r'C:\workspace\gas\지역*.xls')[0]
df = pd.read_excel(file, header=2)
df

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-
5,서울특별시,SK서광주유소,서울 강남구 역삼로 142,SK에너지,02-562-4855,Y,1880,1725,1675,-
6,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,1918,1729,1595,-
7,서울특별시,(주)선진도곡주유소,서울 강남구 도곡로 162 (도곡동),S-OIL,02-2058-3024,N,1880,1739,1749,-
8,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1892,1739,1654,-
9,서울특별시,(주)중앙에너비스 수서지점,서울 강남구 광평로 202 (수서동),SK에너지,070-8707-4582,Y,1927,1745,1637,-
10,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,1979,1749,1769,-
11,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),S-OIL,02-2226-5188,Y,-,1749,1639,-
12,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,1907,1754,1669,1570
13,서울특별시,SK에너지㈜ 진달래주유소,서울 강남구 도곡로 208,SK에너지,02-3462-0018,N,1859,1759,1729,-
14,서울특별시,SK에너지(주) 매봉주유소,서울 강남구 언주로 307,SK에너지,02-556-5510,Y,1859,1769,1749,-
15,서울특별시,대교셀프주유소,서울 강남구 강남대로 640 (신사동),SK에너지,02-512-5521,Y,1960,1780,1730,-
16,서울특별시,대동석유 압구정주유소,서울 강남구 언주로 842 (신사동),SK에너지,02-545-6161,Y,1997,1797,1797,-
17,서울특별시,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,SK에너지,02-544-4075,Y,1997,1797,1785,-
18,서울특별시,에스제이에너지산업(주) 개포주유소,서울 강남구 양재대로 339,GS칼텍스,02-573-9031,N,2275,1898,1738,1590
19,서울특별시,대성석유(주)동호주유소,서울 강남구 봉은사로113길 51,GS칼텍스,02-545-0720,N,2061,1979,1972,-
20,서울특별시,현대오일뱅크(주)직영 한양주유소,서울 강남구 압구정로 302 (신사동),현대오일뱅크,02-3444-0804,N,2355,1998,1944,-
21,서울특별시,지에스칼텍스㈜에너지플러스허브GS타워,서울 강남구 논현로 516 (역삼동),GS칼텍스,02-539-5145,N,2228,2018,1989,-
22,서울특별시,현대오일뱅크(주)직영 신사현대주유소,서울 강남구 도산대로 163 (신사동),현대오일뱅크,02-546-2182,N,2315,2048,1889,-
23,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,GS칼텍스,02-3452-1882,N,2261,2081,2005,-
24,서울특별시,지에스칼텍스㈜ 삼성로주유소,서울 강남구 삼성로 563 (삼성동),GS칼텍스,02-538-5138,Y,2360,2180,2043,-
25,서울특별시,(주)소모 쎈트럴주유소,서울 강남구 삼성로 335,GS칼텍스,02-565-0267,N,2387,2207,2043,1650
26,서울특별시,지에스칼텍스(주)학여울주유소,서울 강남구 남부순환로 3170 (일원2동),GS칼텍스,02-459-8829,N,2438,2228,2141,-
27,서울특별시,명품주유소,서울 강남구 도곡로 249 (역삼동),S-OIL,02-501-1256,N,2397,2228,2157,-
28,서울특별시,대청주유소,서울 강남구 개포로 654 (일원동),SK에너지,02-445-5500,N,2496,2246,2169,1856
29,서울특별시,㈜새서울석유 새서울주유소,서울 강남구 압구정로 154,현대오일뱅크,02-543-1154,N,2457,2258,2158,-
30,서울특별시,SK논현주유소,서울 강남구 논현로 747 (논현동),SK에너지,02-511-0955,N,2499,2270,2195,1835
31,서울특별시,갤러리아주유소,서울 강남구 압구정로 426,SK에너지,02-540-4965,N,2472,2275,2218,1790
32,서울특별시,(주)제이제이네트웍스 제이제이주유소,서울 강남구 언주로 716,현대오일뱅크,02-518-5631,N,2598,2348,2257,-
33,서울특별시,(주)만정에너지 삼보주유소,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,02-518-5141,N,2818,2578,2540,1850

In [5]:
df_list=[]
for file in glob(r'C:\workspace\gas\지역*.xls'):
    gs = pd.read_excel(file, header=2)
    df_list.append(gs)
df = pd.concat(df_list)
df.shape

(441, 10)

In [6]:
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-

In [7]:
df = df[['상호', '주소', '휘발유', '셀프여부', '상표']]
#df.head()

In [8]:
df.rename(columns={'휘발유':'가격', '셀프여부':'셀프'}, inplace = True)
df.head()

            상호                       주소    가격 셀프      상표
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623  Y   SK에너지
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669  Y   SK에너지
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684  Y  현대오일뱅크
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687  Y   GS칼텍스
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704  Y   SK에너지

In [9]:
df['구'] = df.주소.str.split().str[1]

In [10]:
df.head()

            상호                       주소    가격 셀프      상표    구
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623  Y   SK에너지  강남구
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669  Y   SK에너지  강남구
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684  Y  현대오일뱅크  강남구
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687  Y   GS칼텍스  강남구
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704  Y   SK에너지  강남구

In [11]:
len(df['구'].unique())

25

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int64
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int64(1), object(5)
memory usage: 24.1+ KB

In [13]:
df['가격'].unique()

array([1623, 1669, 1684, 1687, 1704, 1725, 1729, 1739, 1745, 1749, 1754,
       1759, 1769, 1780, 1797, 1898, 1979, 1998, 2018, 2048, 2081, 2180,
       2207, 2228, 2246, 2258, 2270, 2275, 2348, 2578, 1686, 1689, 1696,
       1720, 1738, 1831, 1978, 1629, 1635, 1639, 1659, 1667, 1668, 1707,
       1628, 1643, 1644, 1645, 1656, 1676, 1677, 1680, 1685, 1690, 1693,
       1695, 1698, 1708, 1728, 1737, 1748, 1758, 1895, 1995, 1688, 1756,
       1764, 1789, 1798, 1852, 1654, 1665, 1673, 1675, 1694, 1727, 1649,
       1655, 1697, 1735, 1757, 2198, 1674, 1658, 1715, 1740, 1795, 1647,
       1699, 1767, 1615, 1620, 1653, 1679, 1718, 1790, 1719, 1747, 1799,
       1835, 1637, 1619, 1624, 1633, 1638, 1709, 1594, 1678, 1681, 1701,
       1705, 1706, 1714, 1752, 1768, 1775, 1784, 1785, 1793, 1948, 1989,
       1625, 1746, 1788, 1792, 1962, 1965, 2135, 2148, 1664, 1734, 1884,
       1892, 1657, 1663, 1670, 1682, 1713, 1848, 1595, 1605, 1778, 1779,
       1909, 2075, 2150, 2199, 1999, 2019, 2030, 2039, 2173, 2175, 2237,
       2398, 2749, 1604, 1607, 1609, 1614, 1617, 1627, 2045, 2230, 2240,
       1765, 1828, 1879, 2287, 2509, 2753], dtype=int64)

In [14]:
df = df[df.가격 != '-']

In [15]:
df.가격 = df.가격.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int32
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int32(1), object(5)
memory usage: 22.4+ KB

In [16]:
df.to_csv('서울_주유소(230418).csv', index=False)